html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
table { border-collapse:collapse; border-spacing:0;font-size:inherit; font:100%; }
input, select { vertical-align:middle; }
select, input, textarea { font:99% sans-serif; }
body, select, input, textarea { color:#444; }
html { -webkit-font-smoothing: antialiased; }
a:hover, a:active { outline: none; }
a, a:active, a:visited { color:#607890; }
a:hover { color:#036; }
small { font-size:85%; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
::-moz-selection{ background: #111; color:#fff; text-shadow: none; }
::selection { background:#111; color:#fff; text-shadow: none; } 
a:link { -webkit-tap-highlight-color: #FF5E99; } 
html { overflow-y: scroll; }
button {  width: auto; overflow: visible; }
.clear { clear:both; }
@media screen and (max-device-width: 480px) {
	html { 
		-webkit-text-size-adjust:none; 
		-ms-text-size-adjust:none; 
	}
	#container {
		top:0 !important;
		margin:20px auto !important;
	}
	.about #container {
		width:300px !important;
		margin:20px auto !important;
	}
	.double-col {
		width:300px !important;
		margin-bottom:15px !important;
		padding-top:10px !important;
	}
	.col {
		margin-bottom:15px !important;
		padding-top:10px !important;
	}
	.double-col .col-cont {
		margin:15px 10px 0 !important;
	}
}
body { 
	font:13px sans-serif; 
	*font-size:small; 
	*font:x-small; 
	line-height:1.22;
	background:#ececec;
	font-family:"Trebuchet MS", Helvetica, Jamrul, sans-serif;
}
p { line-height:1.4; }
#container {
	width:300px;
	margin:50px auto;
}
.about #container {
	width:900px;
	margin:50px auto;
}
#header {
	margin:8px 10px;
	position:relative;
}
#header #logo {
	text-decoration:none;
	font-size:24px;
	color:#282828;
}
#header #about {
	text-decoration:none;
	font-size:11px;
	color:#999;
	position:absolute;
	right:5px;
	bottom:1px;
}
#header #about:hover {
	color:#282828;
}
#main {
	background:#fff;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.10);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,0.10);
}
.about #main {
	background:transparent;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	margin-top:10px;
}
.col {
	width:300px;
	float:left;
	margin-bottom:35px;
	padding-top:30px;
	border-top:#ddd 1px solid;
}
.double-col {
	width:600px;
	float:left;
	margin-bottom:35px;
	padding-top:30px;
	border-top:#ddd 1px solid;
}
.col .col-cont {
	margin:10px;
}
.double-col .col-cont {
	margin:30px 40px 0;
}
.col .col-cont p {
	padding-top:10px;
}
.col .no-top-space p {
	padding-top:0;
	padding-bottom:15px;
}
.col h1 {
	font-size:42px;
	font-weight:400;
	color:#d83131;
}
.col h2 {
	font-size:16px;
	font-weight:400;
	font-style:italic;
	margin-top:7px;
}
.double-col h2 {
	font-size:29px;
	font-weight:400;
	margin-bottom:7px;
	color:#158B0F;
}
.double-col p {
	font-size:13px;
}
.col h3 {
	font-size:24px;
	font-weight:400;
	margin-top:25px;
	color:#158B0F;
}
.col h4 {
	font-size:36px;
	font-weight:400;
	font-style:italic;
	color:#bbb;
}
.col h5 {
	font-size:19px;
	font-weight:400;
	margin-top:20px;
}
.col p.light {
	color:#aaa;
}
.box {
	background:#fff;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.10);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,0.10);
	margin:0 10px;
}
.box .box-cont {
	padding:20px 15px;
}
.about-password {
	text-align:center;
	margin:15px 0;
}
#details {
	padding:18px;
}
#details p {
	color:#158b0f;
	font-size:24px;
	letter-spacing:1px;
	margin-bottom:15px;
	text-rendering: optimizeLegibility;
	overflow:hidden;
}
#details p:hover {
	overflow:visible;
}
#details p.label {
	font-style:italic;
	color:#cacaca;
	font-size:15px;
	letter-spacing:1px;
	margin-bottom:0;
}
#details p#comments {
	color:#282828;
	font-size:15px;
	letter-spacing:1px;
	text-rendering: optimizeLegibility;
	text-decoration:none;
}
#details p#link a {
	color:#282828;
	font-size:20px;
	letter-spacing:1px;
	text-rendering: optimizeLegibility;
	text-decoration:none;
}
#details p#link {
	margin-bottom:5px;	
}
form#blowItUp button {
	width:264px;
	height:38px;
	overflow:hidden;
	background:#b62525;
	background:-webkit-gradient(
				linear,
				left bottom,
				left top,
				color-stop(0, rgb(123,11,11)),
				color-stop(1, rgb(162,36,36)));
	background:-moz-linear-gradient(
				center bottom,
				rgb(123,11,11) 0%,
				rgb(162,36,36) 100%);
	border:0;
	border-bottom:2px #400505 solid;
	-webkit-appearance: none;
	-webkit-border-radius:4px; 
	-moz-border-radius:4px;
	border-radius:4px;
	cursor:pointer;
	position:relative;
	margin-top:17px;
}
form#blowItUp button span {
	width:264px;
	text-align:center;
	color:#efefef;
	font-weight:700;
	font-size:17px;
	font-family:"Trebuchet MS", Helvetica, Jamrul, sans-serif;
	text-shadow: 0 1px 0 #5e0e0e;
	-moz-text-shadow: 0 1px 0 #5e0e0e;
	-webkit-text-shadow: 0 1px 0 #5e0e0e;
	padding:7px 0 6px;
}
form#create {
	padding:18px;
}
form#create .input-wrap {
	margin: 0 0 15px 0;
	padding:0 12px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	border:1px #dadada solid;
	border-top:2px #dadada solid;
	position:relative;
}
form#create .input-wrap input {
	width:100%;
	padding:10px 0;
	margin:0;
	border:none;
	-webkit-appearance:none;
	font-size:15px;
	letter-spacing:1px;
	font-family:"Trebuchet MS", Helvetica, Jamrul, sans-serif;
}
form#create .input-wrap textarea {
	width:100%;
	padding:10px 0;
	margin:0;
	border:none;
	-webkit-appearance:none;
	font-size:13px;
	letter-spacing:1px;
	font-family:"Trebuchet MS", Helvetica, Jamrul, sans-serif;
	resize:none;
	height:80px;
}
form#create .input-wrap input.no-input {
	font-style:italic;
	color:#cacaca;
}
form#create .input-wrap input.validation-error {
	font-style:italic;
	color:#ba3718;
}
form#create .input-wrap input:focus,form#create .input-wrap textarea:focus {
	outline:none;
}
form#create .comment-text {
	margin: 0 0 15px 0;
	padding:0 12px;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	border:0 #dadada solid;
}
form#create .comment-text a {
	text-decoration:none;
	color:#282828;
	font-size:13px;
	letter-spacing:0.11em;
}
form#create .comment-text a:hover {
	text-decoration:underline;
}
form#create table {
	width:100%;
}
form#create table button {
	width:82px;
	height:38px;
	overflow:hidden;
	background:#1a8e29;
	background:-webkit-gradient(
				linear,
				left bottom,
				left top,
				color-stop(0, rgb(11,123,46)),
				color-stop(1, rgb(42,162,36)));
	background:-moz-linear-gradient(
				center bottom,
				rgb(11,123,46) 0%,
				rgb(42,162,36) 100%);
	border:0;
	border-bottom:2px #054010 solid;
	-webkit-appearance: none;
	-webkit-border-radius:4px; 
	-moz-border-radius:4px;
	border-radius:4px;
	cursor:pointer;
	position:relative;
	margin:0 !important;
	padding:0 !important;
}
form#create table button span {
	width:82px;
	text-align:center;
	color:#efefef;
	font-weight:700;
	font-size:17px;
	font-family:"Trebuchet MS", Helvetica, Jamrul, sans-serif;
	text-shadow: 0 1px 0 #265e0e;
	-moz-text-shadow: 0 1px 0 #265e0e;
	-webkit-text-shadow: 0 1px 0 #265e0e;
	padding:7px 0 6px;
}
#footer {
	margin:8px 10px;
	position:relative;
}
#footer p {
	font-size:11px;
	color:#999;
	line-height:1.22;
}
#footer #prime {
	position:absolute;
	right:5px;
	text-decoration:none;
	font-size:11px;
	color:#999;
	top:0;
}
#footer #prime:hover {
	color:#1A7ED9;
}
#footer #terms {
	text-decoration:none;
	font-size:11px;
	color:#999;
}
#footer #terms:hover {
	color:#282828;
}
.about #footer {
	border-top:1px #ddd solid;
	padding-top:15px;
	margin-top:0;
}
.about #footer #prime {
	top:15px;
}
#countDown {
	width: 100%;
	text-align:center;
	overflow:hidden;
	height:75px;
}
.countdown_show3 .countdown_section {
	width: 32.5%;
}
.countdown_show4 .countdown_section {
	width: 24.5%;
}
.countdown_section {
	display: block;
	float: left;
	font-size: 12px;
	text-align: center;
	color:#cacaca;
}
.countdown_amount {
	font-size: 35px;
}
.countdown_descr {
	display: block;
	width: 100%;
}
#expired {
	padding:30px 18px;
}
#expired h3 {
	font-size:31px;
	color:#ba3718;
}
#expired h4 {
	font-size:17px;
	font-weight:400;
	font-style:italic;
	margin-bottom:10px;
}
#expired p {
	font-size:12px;
	color:#999;
	line-height:1.22;
}
#expired #home{
	text-decoration:underline;
	font-size:14px;
	color:#158B0F;
}
#expired #home:hover {
	color:#282828;
}
#add-comment a {
	margin-left:15px;
	z-index:10;
	display:block;
}
#add-comment a:hover{
	text-decoration:underline;
}
.no-canvas a {
	margin-left:-10px !important;
}
#add-comment-arrow {
	position:absolute;
	left:0;
	top:-2px;
	cursor:pointer;
}
#copied {
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	background:rgba(12, 12, 12, 0.88);
	position:absolute;
	text-align:center;
	top:150px;
	left:50%;
	width:120px;
	margin-left:-60px;
	z-index:999;
	padding:14px;
	color:rgb(235, 235, 235);
	font-size:18px;
	font-weight:normal;
	display:none;
}